<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
<body>
    <%- include('../partials/nav') %>
    <div id="about-us">
        <p>
            <b>A blogging website, for letting out your creativity.</b> <br>            
            Made using (Tech Stack) 
            <ul id="tech-list">
                <li>JavaScript</li>
                <li>MongoDB</li>
                <li>Express</li>
                <li>NodeJS</li>
                <li>EJS</li>
            </ul>
            Developer: Traple Kumar
        </p>
        <div>
            <a href="https://www.linkedin.com/in/traple-kumar-07967a196/" target="_blank"><img src="/LinkedIn.png" alt="https://www.linkedin.com/in/traple-kumar-07967a196/"></a>
            <a href="https://github.com/Traplekumar" target="_blank"><img src="/GitHub.png" alt="https://github.com/Traplekumar"></a>
        </div>
    </div>
</body>
</html>