<nav>
    <div>
        <a href="/blogs"><h1>UBlog</h1></a>
    </div>
    <div id="nav-btns">
        <div>            
            <a href='/blogs'><p>Home</p></a>
        </div>
        <div>
            <a href='/blogs/create'><p>Create</p></a>
        </div>
        <div>
            <a href='/about-us'><p>About Us</p></a>
        </div>
    </div>
</nav>